<head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ page.title }} | EarthMessenger 的博客</title>

    <link href="/assets/images/favicon.ico" rel="shortcut icon" />
    <link href="/assets/images/favicon.png" rel="apple-touch-icon" />
    <link href="/assets/css/styles.css" rel="stylesheet" />

    {% seo %}
    {% feed_meta %}
    
    <link href="/assets/css/monokai.css" rel="stylesheet" />
    {% include extension/mathjax.html %}
</head>