.post-meta {
    margin-top: 10rem;
    text-align: center;
}

.post-title {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 1em;
}

#post-content {
    max-width: 100%;

    // header counter
    h1:before {
        content: "Part. " counter(h1Counter) " ";
    }
    h1 {
        counter-increment: h1Counter;
        counter-reset: h2Counter 0;
    }
    h2:before {
        content: counter(h2Counter) " ";
    }
    h2 {
        counter-increment: h2Counter;
        counter-reset: h3Counter;
    }
    h3:before {
        content: counter(h2Counter) "." counter(h3Counter) " ";
    }
    h3 {
        counter-increment: h3Counter;
    }

    // post style
    h1 {
        padding-top: 1em;
    }
    img {
        max-width: 100%;
    }

    pre,
    pre.highlight {
        font-family: $mono-font-stack;
        font-size: 0.75em;
        border-radius: 4px;
        line-height: 1.15;
        padding: 1em;
        margin: 0.5em;
        overflow-x: scroll;
    }

    table {
        border-collapse: collapse;
        margin: auto auto;
    }

    th,
    td {
        border-bottom: 1px solid;
        padding: 3px;
    }

    th {
        border-color: #333;
    }

    td {
        border-color: #aaa;
    }

    blockquote {
        background-color: #ddd;
        margin: 0;
        padding: 0 2em;
        border-left: #666 0.5em solid;
        border-left-color: rgb(102, 102, 102);
        border-left-style: solid;
        border-left-width: 0.5em;
    }
}
