@import "vars.scss";

// basic style

*,
::after,
::before {
    box-sizing: border-box;
}

html,
body {
    font-family: $fonts;
    font-size: $font-size;
    margin: 0;
    color: var(--text-color);
    background-color: var(--background-body);
}

a {
    color: var(--link-color);
}

a:active,
a:hover,
a:focus {
    color: var(--link-active-color);
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
th {
    font-weight: 700;
}

blockquote {
    position: relative;
    padding-left: 1.5em;
    font-family: $serif-fonts;
}

blockquote::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    height: 100%;
    border-left: 7px solid var(--border-color);
    border-radius: 6px;
}

pre,
code {
    font-family: $monospace-fonts;
}

article#post-content>pre {
    background-color: var(--background-main);
}

div.highlight,
article#post-content>pre {
    max-width: 100%;
    overflow-x: scroll;
    border-radius: $border-radius;
    border: 1px solid var(--border-color);
    padding: .5em;
}

pre.highlight {
    margin: 0;
}

audio,
img,
video {
    border-radius: $border-radius;
    max-width: 100%;
}

img {
    height: auto;
}

table {
    border: 1px solid var(--background-main);
    background: var(--background-main);
    border-radius: $border-radius;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

table tr:first-child th:first-child {
    border-top-left-radius: 8px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 8px;
}

th {
    background-color: var(--background-main);
}

td {
    background: var(--background-body);
}

td,
th {
    text-align: left;
    padding: 8px;
}

thead {
    border-collapse: collapse;
}

table tr:hover td,
tbody tr:nth-child(even):hover td {
    background-color: var(--background-main);
}

// layout

div#container {
    width: 65%;
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
}

span.post-date {
    opacity: 0.6;
}

header {
    font-size: 1.2em;
    border-bottom: 1px dotted var(--border-color);
    padding: 0.5em;

    img {
        height: 1em;
        border-radius: 16px;
        margin-right: 0.3em;
    }

    a {
        text-decoration: none;
        margin-right: 0.2em;
    }

    nav {
        display: inline-block;
    }

    nav::before {
        content: "»";
        opacity: 0.8;
    }

}

.post-meta {
    div {
        padding-right: .3em;
        display: inline-block;
    }

    .post-date {
        opacity: 0.6;
    }

    .post-tags {
        .tags {
            padding: 0 0.2em;
            background-color: var(--background-main);
            border-radius: $border-radius;
            border: 1px solid var(--border-color);
        }
    }
}

footer {
    margin-top: 0.5em;
    padding: 0.5em;
    border-top: 1px dotted var(--border-color);
    opacity: 0.8;
    text-align: right;

    p {
        margin: 0.2em;
    }
}
