:root {
    --fonts: "Noto Sans CJK SC", sans-serif;
    --monospace-fonts: "Sarasa Mono SC", "Iosevka", monospace;
    --serif-fonts: "Latin Modern Roman", Georgia, "Times New Roman", Times, "Noto Serif CJK SC", serif;
    --font-size: 12pt;
    --border-radius: 11px;
}

:root {
    --background-body: #fff;
    --background-main: #eee;
    --text-color: #000;
    --border-color: #ddd;
    --shadow-color: #444;
    --link-color: #35e;
    --link-active-color: #e3e;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-body: #111;
        --background-main: #222;
        --text-color: #fff;
        --border-color: #333;
        --shadow-color: #ccc;
        --link-color: #47f;
        --link-active-color: #f5f;
    }
}
