*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --main-font: system-ui, -apple-system, BlinkMacSystemFont, "PingFang SC", "Microsoft YaHei", sans-serif;
  --mono-font: "Iosevka", "Noto Sans Mono", "Consolas", monospace, sans-serif;
}

/* Modified from https://github.com/morhetz/gruvbox-contrib/blob/master/scss/gruvbox.scss
  though we dont use scss.
  */
:root {
  /* Background */
  --gb-bg0: #fbf1c7;
  --gb-bg0-hard: #f9f5d7;
  --gb-bg0-soft: #f2e5bc;
  --gb-bg1: #ebdbb2;
  --gb-bg2: #d5c4a1;
  --gb-bg3: #bdae93;
  --gb-bg4: #a89984;

  /* Foreground */
  --gb-fg0: #282828;
  --gb-fg1: #3c3836;
  --gb-fg2: #504945;
  --gb-fg3: #665c54;
  --gb-fg4: #7c6f64;

  /* Colors */
  --gb-dark-red: #cc241d;
  --gb-dark-green: #98971a;
  --gb-dark-yellow: #d79921;
  --gb-dark-blue: #458588;
  --gb-dark-purple: #b16286;
  --gb-dark-aqua: #689d6a;
  --gb-dark-orange: #d65d0e;
  --gb-dark-gray: #928374;

  --gb-light-red: #9d0006;
  --gb-light-green: #79740e;
  --gb-light-yellow: #b57614;
  --gb-light-blue: #076678;
  --gb-light-purple: #8f3f71;
  --gb-light-aqua: #427b58;
  --gb-light-orange: #af3a03;
  --gb-light-gray: #7c6f64;
}

@media (prefers-color-scheme: dark) {
  :root { 
    /* Background */
    --gb-bg0: #282828;
    --gb-bg0-hard: #1d2021;
    --gb-bg0-soft: #32302f;
    --gb-bg1: #3c3836;
    --gb-bg2: #504945;
    --gb-bg3: #665c54;
    --gb-bg4: #7c6f64;
    /* Foreground */
    --gb-fg0: #fbf1c7;
    --gb-fg1: #ebdbb2;
    --gb-fg2: #d5c4a1;
    --gb-fg3: #bdae93;
    --gb-fg4: #a89984;
  
    /* Colors */
    --gb-dark-red: #cc241d;
    --gb-dark-green: #98971a;
    --gb-dark-yellow: #d79921;
    --gb-dark-blue: #458588;
    --gb-dark-purple: #b16286;
    --gb-dark-aqua: #689d6a;
    --gb-dark-orange: #d65d0e;
    --gb-dark-gray: #928374;
  
    --gb-light-red: #fb4934;
    --gb-light-green: #b8bb26;
    --gb-light-yellow: #fabd2f;
    --gb-light-blue: #83a598;
    --gb-light-purple: #d3869b;
    --gb-light-aqua: #8ec07c;
    --gb-light-orange: #f38019;
    --gb-light-gray: #a89984;
  }
}


:root {
  --bg-body: var(--gb-bg0);
  --bg-main: var(--gb-bg1);
  --color-main: var(--gb-fg0);
  --color-strong: var(--gb-light-orange);
  --link-normal: var(--gb-light-blue);
  --link-visited: var(--gb-light-purple);
  --border-color: var(--gb-dark-gray);
  --hr-color: var(--gb-dark-yellow);
  --border-radius: 6px;
}

body {
  font-family: var(--main-font);
  line-height: 2.0;
  max-width: min(800px, calc(100% - 2em));
  margin: 2em auto;
  color: var(--color-main);
  background-color: var(--bg-body);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--color-strong);
}

a {
  color: var(--link-normal);
}

a:visited {
  color: var(--link-visited);
}

hr {
  border: none;
  border-top: 1px dashed var(--hr-color);
}

:not(pre)>code {
  background-color: var(--bg-main);
  padding: 0 0.2em;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

pre,
code {
  font-family: var(--mono-font);
}

blockquote {
  border-left: 4px solid var(--border-color);
  margin-left: 0;
  margin-right: 0;
  padding-left: 1em;
  background-color: var(--bg-main);
}