*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --main-font: system-ui, -apple-system, BlinkMacSystemFont, "PingFang SC", "Microsoft YaHei", sans-serif;
  --mono-font: "Iosevka", "Noto Sans Mono", "Consolas", monospace, sans-serif;
}

:root {
  --bg-body: #fbf1c7;
  --bg-main: #ebdbb2;
  --color-main: #282828;
  --color-strong: #af3a03;
  --link-normal: #076678;
  --link-visited: #8f3f71;
  --border-color: #928374;
  --hr-color: #d79921;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-body: #282828;
    --bg-main: #3c3836;
    --color-main: #fbf1c7;
    --color-strong: #fb4937;
    --link-normal: #83a598;
    --link-visited: #d3869b;
    --border-color: #928374;
    --hr-color: #d79921;
  }
}

body {
  font-family: var(--main-font);
  line-height: 2.0;
  max-width: min(800px, calc(100% - 2em));
  margin: 2em auto;
  color: var(--color-main);
  background-color: var(--bg-body);
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--color-strong);
}

a {
  color: var(--link-normal);
}

a:visited {
  color: var(--link-visited);
}

hr {
  border: none;
  border-top: 1px dashed var(--hr-color);
}

:not(pre)>code {
  background-color: var(--bg-main);
  padding: 0 0.2em;
  border: 1px solid var(--border-color);
  border-radius: 6px;
}

pre,
code {
  font-family: var(--mono-font);
}