:root {
  --astro-code-color-text: #3c3836;
  --astro-code-color-background: #fbf1c7;
  --astro-code-token-constant: #076678;
  --astro-code-token-string: #79740e;
  --astro-code-token-comment: #928374;
  --astro-code-token-keyword: #9d0006;
  --astro-code-token-parameter: #3c3836;
  --astro-code-token-function: #3c3836;
  --astro-code-token-string-expression: #79740e;
  --astro-code-token-punctuation: #3c3836;
  --astro-code-token-link: #3c3836;
}

@media (prefers-color-scheme: dark) {
  :root {
    --astro-code-color-text: #ebdbb2;
    --astro-code-color-background: #282828;
    --astro-code-token-constant: #83a598;
    --astro-code-token-string: #b8bb26;
    --astro-code-token-comment: #928374;
    --astro-code-token-keyword: #fabd2f;
    --astro-code-token-parameter: #ebdbb2;
    --astro-code-token-function: #ebdbb2;
    --astro-code-token-string-expression: #b8bb26;
    --astro-code-token-punctuation: #ebdbb2;
    --astro-code-token-link: #ebdbb2;
  }
}