#post-content img {
  max-width: 100%;
  height: auto;
}

#post-content pre.astro-code {
  padding: 0.3em;
  border-radius: 6px;
  border: var(--border-color) 1px solid;
  line-height: 1.5;
}

#post-content hr {
  width: 98%;
}
