---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = await getCollection("posts");
---

<BaseLayout title="首頁">
  <h1>EarthMessenger 的博客</h1>
  <ol reversed="true">
    {
      allPosts
        .sort((p, q) => q.data.pubDate.getTime() - p.data.pubDate.getTime())
        .map((post) => (
          <li>
            <a href={`/posts/${post.slug}`}>{post.data.title}</a>
          </li>
        ))
    }
  </ol>
</BaseLayout>
