---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = await getCollection("oi-notes");

const title="题解";
---

<BaseLayout title={title}>
  <h1>{title}</h1>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={`/oi-notes/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
