---
import { useTranslations } from '../i18n';

const { lang } = Astro.props;
const t = useTranslations(lang);

const subscribeText = t('footer.subscribe');
const licenseText = t('footer.license');
---

<footer>
  <p>{subscribeText}：<a href="/feed.xml">RSS</a></p>
  <p>
    {licenseText}：<a
      rel="license"
      href="//creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA-4.0 License</a
    >
  </p>
</footer>

<style>
  footer {
    text-align: right;
    line-height: 1;
  }
</style>
