---
---

<footer>
  <p>订阅：<a href="/feed.xml">RSS</a></p>
  <p>
    授权方式：<a rel="license" href="//creativecommons.org/licenses/by-sa/4.0/"
      >CC-BY-SA-4.0 License</a>
  </p>
</footer>

<style>
  footer {
    text-align: right;
    line-height: 1;
  }
</style>
