---
---

<nav>
  <div class="nav-home">
    <a href="/" title="首頁">
      <img src="/favicon.png" title="icon" height="24" width="24"/>
      <span>/</span>
    </a>
  </div>
  <div class="nav-menu">
    <a href="/about" title="關於">關於</a>
    <a href="/oi-notes" title="題解">題解</a>
    <a href="/tags" title="標籤">標籤</a>
  </div>
</nav>

<style>
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: 1.2em;
  }

  .nav-home a {
    display: flex;
    align-items: center;
  }

  .nav-home img {
    border-radius: 10px;
    margin-right: 0.5em;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav-menu a {
    margin: 0.5em;
  }

  a {
    text-decoration: none;
  }
</style>
