---
layout: default
title: page.title
---

<h1 class="post-title">{{ page.title }}</h1>
<div class="post-meta">
    <div class="post-author">作者：{{ site.author }}</div>
    <div class="post-tags">
        <span>标签：</span>
        {% for tag in page.tags %}
        <span class="tags">{{ tag }}</span>
        {% endfor %}
    </div>
</div>

<article id="post-content">{{ content }}</article>
<div id="giscus" class="giscus"></div>
<script
    src="https://giscus.app/client.js"
    data-repo="earthmessenger/earthmessenger.github.io"
    data-repo-id="MDEwOlJlcG9zaXRvcnkzODc0MzYzNTQ="
    data-category="giscus"
    data-category-id="DIC_kwDOFxfPQs4CAtxr"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="zh-CN"
    crossorigin="anonymous"
    async
></script>
