---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import { SITE_LANG } from "../config";
const title = Astro.props.title || Astro.props.frontmatter.title;
---

<html lang={SITE_LANG}>
  <head>
    <BaseHead title={title} />
  </head>
  <body>
    <Navigation />
    <hr/>
    <slot />
    <hr />
    <Footer />
  </body>
</html>
